<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StatusRecogniseServlet</display-name>
    <servlet-name>StatusRecogniseServlet</servlet-name>
    <servlet-class>org.xkj.servlet.StatusRecogniseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusRecogniseServlet</servlet-name>
    <url-pattern>/StatusRecogniseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgPublishServlet</display-name>
    <servlet-name>MsgPublishServlet</servlet-name>
    <servlet-class>org.xkj.servlet.MsgPublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgPublishServlet</servlet-name>
    <url-pattern>/MsgPublishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMsgListServlet</display-name>
    <servlet-name>GetMsgListServlet</servlet-name>
    <servlet-class>org.xkj.servlet.GetMsgListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMsgListServlet</servlet-name>
    <url-pattern>/GetMsgListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMsgServlet</display-name>
    <servlet-name>GetMsgServlet</servlet-name>
    <servlet-class>org.xkj.servlet.GetMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMsgServlet</servlet-name>
    <url-pattern>/GetMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommitReplyServlet</display-name>
    <servlet-name>CommitReplyServlet</servlet-name>
    <servlet-class>org.xkj.servlet.CommitReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitReplyServlet</servlet-name>
    <url-pattern>/CommitReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.xkj.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>org.xkj.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>org.xkj.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPublishServlet</display-name>
    <servlet-name>MyPublishServlet</servlet-name>
    <servlet-class>org.xkj.servlet.MyPublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPublishServlet</servlet-name>
    <url-pattern>/MyPublishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCommentedServlet</display-name>
    <servlet-name>MyCommentedServlet</servlet-name>
    <servlet-class>org.xkj.servlet.MyCommentedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCommentedServlet</servlet-name>
    <url-pattern>/MyCommentedServlet</url-pattern>
  </servlet-mapping>
</web-app>